<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
            body {
                width: 800px;
                margin: auto;
            }
        </style>
</head>
<body>
<header xmlns:th="http://www.thymeleaf.org">
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <form action="" method="get">
        <div>
            <label for="searchName">Search by Name:</label>
            <input type="text" id="searchName" name="searchName">
        </div>
        <div>
            <label for="searchRating">Minimum Rating:</label>
            <input type="number" id="searchRating" name="searchRating" min="1" max="10">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
        </div>

        <input type="submit" value="Search">
    </form>

    <h5>Choose an event:</h5>

    <form action="/eventsBooking" method="post">
        <div th:each="event : ${events}">
            <input type="radio" th:value="${event.name}" th:name="selectedEventName" />
            <label th:text="${event.getName()} + ' - ' + ${event.getDescription()} + ' (Rating: ' + ${event.getPopularityScore()} + ') - ' + ${event.getLocation()}"></label>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <button type="button" th:onclick="'window.location.href=\'/events/getEditForm/' + ${event.id} + '\' '">Edit</button>
                <button type="button" th:onclick="'window.location.href=\'/events/delete/' + ${event.id} + '\' '">Delete</button>
            </th:block>
        </div>


        <h5>Your Name :</h5>
        <input type="text" name="userName"><br/>
        <br/>
        <h5>Your Address :</h5>
        <input type="text" name="userAddress"><br/>
        <br/>
        <h5>Choose number of tickets:</h5>
        <input type="number" name="numTickets" min="1" max="10"><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <br/>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/events/add-form">
            <button type="button">Add New Event</button>
        </a>
    </th:block>
</main>
</body>
</html>